@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<ul class="collapse sidebar-submenu" id="userManagementMenu">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link"
               href="/GraduateProfile/Profile">
                <i class="fas fa-user-graduate sidebar-menu-icon"></i>
                <span>Profile</span>
            </a>
        </li>
        <hr />
        <li class="sidebar-menu-item">
           @*  <a class="sidebar-menu-link"
               asp-controller="Account"
               asp-action="Register">
                <i class="fas fa-user-plus sidebar-menu-icon"></i>
                <span>Register</span>
            </a> *@
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-danger ms-5">Logout</button>
            </form>
        </li>
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li> *@
       
    }
    else
    {
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link"
               asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus sidebar-menu-icon"></i>
                <span>Register</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-link"
               asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt sidebar-menu-icon"></i>
                <span>Login</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li> *@
    }
    

   
</ul>

@* <ul class="navbar-nav">

</ul> *@
